doctype html
head
	title ACreditors - Empresa Simples de Crédito
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="96x96", href="/favicon-96x96.png")
	link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
	meta(property="og:url", content="https://www.acreditors.com/")
	meta(property="og:type", content="website")
	meta(property="og:title", content="ACreditors")
	meta(property="og:description", content="Empresa Simples de Crédito")
	meta(property="og:image", content="https://www.acreditors.com/test/images/acreditors-share.png")
	meta(property="og:type", content="image/png")
	meta(property="og:width", content="1200")
	meta(property="og:height", content="628")
body
	main
		.logo-bg.opening(data-opening)
		.logo-bg2.opening(data-opening)
		.logo-fg.opening(data-opening)
			a.nav-link(href="#abertura")
				include ../includes/logo.pug
		header.l-header.opening(data-opening)
			h1.logo
				span.hidden ACreditors - Empresa Simples de Crédito
				//- a.nav-link(href="#abertura")
				//- 	include ../includes/logo.pug
			nav.l-header-nav.opening(data-opening)
				ul
					li
						a.nav-link.-header(href="#quem-somos") Quem somos
					li
						a.nav-link.-header(href="#produtos-e-solucoes") Produtos e soluções
					li
						a.nav-link.-header(href="#onde-estamos") Onde estamos
					li
						a.nav-link.-header(href="#contato") Contato
		nav.l-aside-nav
			ul
				li
					a.nav-link(href="#abertura") #[span Abertura]
				li
					a.nav-link(href="#quem-somos") #[span Quem somos]
				li
					a.nav-link(href="#produtos-e-solucoes") #[span Produtos e soluções]
				li
					a.nav-link(href="#onde-estamos") #[span Onde estamos]
				li
					a.nav-link(href="#contato") #[span Contato]
		section.l-section#abertura
			h2 ACreditors
			p.slogan Acreditamos no seu #[strong potencial empreendedor]
			figure.l-opening-image
				img(src='./images/opening-th.jpg', data-full-size='./images/opening.jpg', width="1500", height="1000", alt="Ponte Octávio Frias de Oliveria, a Ponte Estaiada",  title="Foto: Gabriel Ramos/Unsplash")
		section.l-section#quem-somos
			h2 Quem somos
			.text
				//- p A #[strong ACreditors] é uma empresa pequena e descompicada que acredita no seu potencial empreendedor oferecendo crédito personalizado com agilidade, segurança e respeito exclusivamente aos microempreendedores individuais, microempresas e empresas de pequeno porte localizadas na cidade de São Paulo e cidades limitrofes
				p A #[strong ACreditors] é uma empresa que oferece soluções de crédito descomplicadas, com rapidez e credibilidade, ppossibilitando aos nossos parceiros otimizar as finanças e promover conquistas.
				p Buscamos ampliar nossa atuação no mercado e nos tornarmos referência, por meio da excelência dos serviços prestados aos microempreendedores individuais (#[span.sm MEI]), microempresas (#[span.sm ME]) e empresas de pequeno porte (#[span.sm EPP]) localizadas na cidade de São Paulo e municípios vizinhos.
				p Trabalhamos com valores acima de #[span.sm R$] 500,00 e prazo de ate 12 meses.
		section.l-section#produtos-e-solucoes
			h2 Produtos e soluções
			.text
				ul
					li.solution Empréstimo
					li.solution Desconto de duplicatas ou cheques
					li.solution Financiamento
			//- .c-tab-nav
			//- 	nav
			//- 		ul.tabs(role="tablist")
			//- 			li.c-tab-item(data-value="1", role="tab", aria-setsize="2", aria-posinset="1") Capital de giro
			//- 			li.c-tab-item(data-value="2", role="tab", aria-setsize="2", aria-posinset="2") Investimento
			//- 	.contents
			//- 		.tab-content(data-value="1", role="tabpanel")
			//- 			p Sua empresa tem recursos disponíveis em caixa, porém precisa de uma ajuda extra com as despesas operacionais, como pagamento de impostos, salários e demais custos. Podemos antecipar os pagamentos a receber por meio de #[strong duplicatas] ou #[strong cheques] de seus clientes. Garantindo fôlego para o fluxo financeiro
			//- 		.tab-content(data-value="2", role="tabpanel")
			//- 			p Escolha as condições de #[strong empréstimo] ideais para expandir seu nogócio, facilitando a compra de matéia-prima, equipamentos ou uma maior quantidade de produtos para atender com rapidez a demanda dos seus clientes
		section.l-section#onde-estamos
			h2 Onde estamos
			.slogan Atendemos em todas as cidades da #[strong Região Metropolitana de São Paulo]
			figure.mapa
				include ../includes/map.pug
		section.l-section#contato
			h2 Contato
			.text
				p
					a(href="https://api.whatsapp.com/send?phone=5511999083883&text=Ola%2C%20Gizelle%2C%20tudo%20bem%3F%0AGostaria%20de%20uma%20simula%C3%A7%C3%A3o%20de%20cr%C3%A9dito", target="_blank")
						img(src="./images/whatsapp.svg", alt="WhastApp" width="70" height="70")
						span WhatsApp
						span 11 9 9908 3883
				//- p
				//- 	a(href="tel:5511999999087", target="_blank") fone
				p
					a(href="mailto:gizelle@acreditors.com?subject=Empr%C3%A9stimo&body=Ola%2C%20Gizelle%2C%20tudo%20bem%3F%0AGostaria%20de%20uma%20simula%C3%A7%C3%A3o%20de%20cr%C3%A9dito", target="_blank")
						img(src="./images/mail.svg", alt="Email" width="70" height="70")
						span Email
						span gizelle@acreditors.com
				p
					a(href="https://www.instagram.com/acreditors_credito/", target="_blank")
						img(src="./images/instagram.svg", alt="Instagram" width="70" height="70")
						span Instagram
						span @acreditors_credito
	footer
		.l-footer-content
			.social
				svg(xmlns='http://www.w3.org/2000/svg' width='300' height='60' viewbox='0 0 300 60' xmlns:xlink="http://www.w3.org/1999/xlink")
					use(xlink:href="#acreditors-logo")
			p.text A #[strong ACreditors] não cobra taxa de abertura de capital (TAC), nem outras taxas, apenas o valor dos juros após análise de crédito personalizada, de acordo com o seu perfil e o produto escolhido. Caso alguém, se passando pela #[strong ACreditors], solicite qualquer depósito antecipado para aprovar ou depositar seu empréstimo ou desconto de títulos de crédito, encerre o contato e fale com a gente. Você pode estar sendo vítima de uma tentativa de fraude. Para mais informações, consulte a Lei Complementar N⁰ 167, de 24 de abril de 2019.
			hr
			p © 2021 ACreditors - Empresa Simples de Crédito. Todos os direitos reservados
	.loading
		svg(xmlns='http://www.w3.org/2000/svg' width='300' height='60' viewbox='0 0 300 60' xmlns:xlink="http://www.w3.org/1999/xlink")
			use(xlink:href="#acreditors-logo")
