@import	'~marx-css/styl/marx.styl'
@import	'./vendor/rupture.styl'
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap')
$primary = #8c0c0c
$secondary = $primary
// $secondary = #bb0022
$black = #20292c
$gray = #dfe3e5
$dark-gray = hsl(202deg 3% 45.5%)
$white = #fcfcfc

.sr-only
	position: absolute
	width: 1px
	height: 1px
	padding: 0
	margin: -1px
	overflow: hidden
	clip: rect(0,0,0,0)
	border: 0

*
*:after
*:before
button
input
select
	-webkit-font-smoothing: antialiased

body
	a
		&:hover
		&:active
		&:focus
			text-decoration: none
	background-color: $white
	color: $black
	// font-family: 'Bodoni Moda', serif
	font-family: 'Playfair Display', serif
	h2
		// font-weight: 900!important
		// text-transform: lowercase
		font-size: 25px
		margin: 0 0 15px
		+above(700px)
			font-size: 43px
	.text
		text-align: left
	main
		width: 100%
		max-width: 1280px

@import './logo.styl'
.l-aside-nav
	position: fixed
	left: 0
	top: 20vh
	height: 460px
	margin: 0 10px
	z-index: 1
	+above(700px)
		margin: 0 35px
	+above(1280px)
		left: calc(((100% - 1280px) / 2))
	ul
		list-style: none
		padding: 0
		margin: 0
		position: relative
		height: 100%
		width: 100%
	li
		display: block
		width: 5px
		margin: 0 0 2px
		// height: auto
		a
			display: block
			width: 100%
			height: 100%
			background-color: $gray
			transition: .15s
			transform-origin: 0 0
			height: 83px
			transition: .3s
			&:hover
				transform: scaleX(1.5)
				background-color: $secondary
			&.-is-active
				background-color: $secondary
				height: 120px
				+below(370px)
					height: 102px
			> span
				display: none
img[data-full-size]
	vertical-align: top
	filter: blur(2px)
	opacity: .9
	transition: 1s
	&.-loaded
		opacity: 1
		filter: blur(0px)
.l-lazy
	opacity: 0
	position: absolute
.hidden
	display: none
span.sm
	font-variant-caps: all-small-caps
.l-header
	width: 100%
	max-width: 1280px
	background-color: $white
	position: fixed
	top: 0
	padding-top: 90px
	left: 0
	display: grid
	grid-template-columns: 0 100%
	z-index: 2
	margin: 0
	transform: translateY(0)
	transition: transform .5s ease-in-out
	// border-top: 1px solid $black
	&::after
		content: ''
		position: absolute
		left: 0
		bottom: 0
		height: 1px
		width: 100%
		background-image: linear-gradient(60deg, rgba(0,0,0,0.1) 1%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 99%)
	&.opening
		transform: translateY(-90px)
		&::after
			background-image: linear-gradient(60deg, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,0) 99%)
	+above(700px)
		transform: translateY(-90px)
		top: 0
		// bottom: auto
		border-top: 0
		padding-left: 80px
		grid-template-columns: 170px calc(100% - 180px)
		transition: .5s
		&.opening
			border-color: $white
	+above(1280px)
		left: calc((100% - 1280px) / 2)
	> .logo
		margin: 0
		// background-color: $primary
		+above(700px)
			padding: 15px 10px
			height: 90px
			z-index: 5
			position: relative
		> a
			display: inline-block
			vertical-align: top
		svg
			fill: #fff
			width: 150px
			vertical-align: top
	> .l-header-nav
		white-space: nowrap
		+above(700px)
			padding: 15px 0 15px 10vw
		ul
			margin: 0
			height: 100%
			overflow-x: auto
			overflow-y: hidden
			padding: 8px 10px 8px 0
			li
				display inline-block
				height: 100%
				a
					padding: 10px 15px
					font-size: 18px
					line-height: 16px
					// text-transform: lowercase
					color: $dark-gray
					// font-weight: 900
					position: relative
					display: block
					transition: .15s
					&::before
						content: ''
						position: absolute
						width: calc(100% - 30px)
						left: 15px
						bottom: 3px
						height: 1px
						background-color: $dark-gray
						transform: scaleX(0)
						transition: .15s
					&::after
						content: ''
						position: absolute
						width: 40px
						left: 15px
						bottom: 1px
						border-bottom: 3px solid $secondary
						transform: scaleY(0)
						transform-origin: 0 0
						transition: .3s
					&:hover
					&:active
					&:focus
						text-decoration: none
						color: $black
						&::before
							position: absolute
							width: calc(100% - 30px)
							left: 15px
							bottom: 3px
							height: 1px
							background-color: $black
							transform: scaleY(1)
					&.-is-active
						font-style: italic
						color: $black
						&:before
							transform: scaleX(1)
						&:after
							transform: scaleY(1)

						// color: $dark-gray
.l-section
	padding: 90px 5px 20px 15px
	position: relative
	width: 100%
	+above(700px)
		display: grid
		grid-template-rows: 40px calc(100% - 40px)
		height: 100vh
		grid-template-rows: 80px calc(100% - 80px)
		padding: 100px 15px 15px 80px
	@media(max-height: 500px)
		padding: 90px 5px 30px 15px
	.text
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		max-width: 700px
		.mapa
			width: 100%
			max-width: 700px
			height: 100%
			object-fit: contain
		p
			width: 100%
			+above(700px)
				font-size: 18px
			@media(max-height: 500px)
				font-size: 15px
		strong
			font-weight: 900
#abertura
	display: grid
	height: 100vh
	gap: 20px
	// grid-template-areas: 'title title' 'text map'
	grid-template-rows: 100%
	grid-template-columns: calc(30% - 10px) calc(70% - 10px)
	align-items: end
	// padding: 50px 5px 100px 15px
	padding: 100px 15px 15px
	+above(700px)
		padding: 100px 15px 15px 80px
		align-items: center
	.slogan
		width: 300%
		+above(700px)
			width: 100%
	h2
		visibility: hidden
		top: calc(10% + 50px)
		position: absolute
		z-index: -1
	.l-opening-image
		width: 100%
		height: 90%
		display: block
		z-index: -1
		margin: 0
		position: relative
		overflow: hidden
		img
			width: 100%
			height: 100%
			max-width: none
			object-fit: cover
#onde-estamos
	gap: 20px
	// align-items: end
	// padding: 50px 5px 100px 15px
	grid-template-areas: 'title' 'map' 'text' 'table'
	gap: 10px
	grid-template-rows: 50px calc((100% - 175px) / 2) 95px calc((100% - 175px) / 2)
	grid-template-columns: 100%
	+above(700px)
		grid-template-areas: 'title title' 'text map' 'table map'
		grid-template-rows: 80px calc(30% - 90px) calc(70% - 90px)
		grid-template-columns: calc(30% - 10px) calc(70% - 10px)
		padding: 100px 15px 15px 80px
		align-items: center

	h2
		grid-area: title
	.slogan
		grid-area: text
		margin: 0
		padding: 0
		font-size: 18px
		+above(700px)
			width: 100%
			height: 100%
			font-size: 23px
	.mapa
		grid-area: map
		height: 90%
		display: block
		margin: 0
		position: relative
		overflow: hidden
		+above(700px)
			font-size: 23px
		svg
			width: 100%
			height: 100%
			max-width: none
			object-fit: contain
			path
				stroke: $black
				fill: $gray
				&#mun_3550308
					fill: $black
		.tooltip
			position: absolute
			background-color: $white
			color: $black
			border: 1px solid $black
			padding: 3px 5px
			font-size: 21px
			border-radius: 2px
		.tooltip-back
			fill: $white
			stroke: $black
			stroke-width: 1px
		.tooltip
		.tooltip-back
			opacity: 0
			transform-origin: 50%
			transform: scale(0)
			&.-show
				opacity: 1
				transform: scale(1)
	.table
		grid-area: table
		overflow-x: hidden
		overflow-y: auto
		height: 100%
		width: 100%
		table
			width: 100%
			+below(699px)
				display: block
				border: 0
			tr
				+below(699px)
					display: inline-block
					margin-bottom: 0
					td
						&::after
							vertical-align: baseline
							content: ',\00a0'
					&:last-child
						td
							&::after
								content: '.'
				td
					padding: 10px 0
					font-size: 15px
					+below(699px)
						display: inline-block
						border: 0
						padding: 0
#produtos-e-solucoes
	.text
		align-items: unset
		ul
			padding-left: 50px
	.solution
		list-style-type: none
		padding: .5em 0
		position: relative
		font-size: 21px
		// ::marker
		// 	font-weight: 900
		&::before
			content: ''
			position: absolute
			top: 24px
			left: -15px
			width: 5px
			height: 5px
			border-radius: 50%
			background-color: $primary
			// font-family: Arial, Helvetica, sans-serif
			// font-weight: 900
			// font-size: 1.4em
#contato
	.text
		p
			// & + p
			// 	border-top: 1px solid $black
			&.contact
				margin-top: 1em
				+ .contact
					margin-top: 0
			a
				color: $black
				line-height: 1.5em
				display: block
				padding: 0
				display: grid
				grid-template-areas: 'icon title' 'icon desc'
				grid-template-columns: 40px calc(100% - 40px)
				grid-template-rows: 23px 17px
				gap: 0 10px
				transition: .3s
				+above(700px)
					padding: 15px 0
				&:hover
					text-decoration: none
					background-color: $gray
				img
					width: 100%
					vertical-align: middle
					margin-right: 10px
					grid-area: icon
				span
					// font-weight: 900
					// font-style: italic
					font-size: 21px
					line-height: 1em
					vertical-align: middle
					grid-area: title
					color: $secondary
					// text-transform: lowercase
					& + span
						color: $black
						grid-area: desc
						// font-weight: 600
						font-size: 15px
						line-height: 15px
						// font-style: italic
						vertical-align: middle
						// color: $secondary
.c-tab-nav
	display: grid
	grid-template-columns: 140px 1fr
	padding: 30px 0 0
	width: 100%
	max-width: 700px
	+above(700px)
		max-height: 60%
	// min-height: 50vh
	.tabs
		margin: 0
		.c-tab-item
			padding: 5px 10px
			// font-weight: 900!important
			color: $dark-gray
			// text-transform: lowercase
			position: relative
	> .contents
		font-size: 15px
		height: 100%
		border-left: 1px solid $black
		padding-left: 20px
		overflow-x: hidden
		overflow-y: auto
	.c-tab-item
		cursor: pointer
		&:hover
		&:focus
		&:active
			color: $black
		&.-current
			color: $black
			&::after
				content: ''
				position: absolute
				top: 0
				right: -1px
				width: 3px
				height: 100%
				background-color: $secondary
	.tab-content
		display: none
		&.-current
			display: block
.slogan
	// position: absolute
	// top: 40vh
	font-size: 23px
	font-weight: 400
	align-self: flex-end
	margin: 0
	margin-right: -140%
	margin-bottom: -1px
	padding: 5px
	background-color: rgba($white, .8)
	// width: 30%
	+above(700px)
		margin-right: 0
		height: 50%
		padding: 0
	strong
		font-weight: 900!important
		font-style: italic
footer
	font-family: sans-serif
	font-size: 12px
	color: $black
	background-color: $gray
	border: 0
	margin: 0
	position: relative
	z-index: 2
	padding-bottom: 0
	.l-footer-content
		width: 100%
		max-width: 1280px
		margin: 0 auto
		padding: 30px 40px
		.social
			a
				color: $black
				display: block
				max-width: 150px
				display: block
				margin: 0 auto 0 0
			svg
				width: 100%
		hr
			margin: 0 auto
			max-width: 1200px
			border-color: $dark-gray
		p
			width: 100%
			max-width: 1280px
			margin: 0 auto
			line-height: 1.7em
			padding: 1em 0 2em
