// @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import	'~marx-css/styl/marx.styl'
@import	'./vendor/rupture.styl'
// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@@0,400;0,500;0,600;0,700;0,751;0,800;0,900;1,400;1,500;1,600;1,700;1,751;1,800;1,900;0,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;0,600;1,400;1,600;1,900&display=swap')
$primary = #8c0c0c
$secondary = #bb0022
$black = #20292c
$gray = #e7ecef
$dark-gray = #82878a
$white = #fcfcfc

*
*:after
*:before
button
input
select
	-webkit-font-smoothing: antialiased

body
	background-color: $white
	color: $black
	// font-family: 'Bodoni Moda', serif
	font-family: 'Playfair Display', serif
	h2
		font-weight: 900!important
		text-transform: lowercase
		margin: 0
	main
		width: 100%
		max-width: 1280px

.l-aside-nav
	position: fixed
	left: 0
	top: 20vh
	height: 60vh
	margin: 0 10px
	z-index: 2
	+above(700px)
		margin: 0 35px
	+above(1280px)
		left: calc(((100% - 1280px) / 2))
	ul
		margin: 0
		position: relative
		height: 100%
		width: 100%
	li
		display: block
		width: 5px
		height: calc(100% / 5)
		margin: 1px 0
		a
			display: block
			width: 100%
			height: 100%
			background-color: $gray
			&.-is-active
				background-color: $secondary
			> span
				display: none
.logo-bg
.logo-bg2
.logo-fg
	background-color: $primary
	width: 170px
	height 90px
	top: 0
	left: 20px
	// left: calc(15px + 80px)
	position: fixed
	mix-blend-mode: unset
	transform-origin: 0 0
	transition: .5s ease-in-out
	z-index: 3
	+above(700px)
		left: 95px
	+above(1280px)
		left: calc(((100% - 1280px) / 2) + 15px + 80px)
	&.opening
		height 60px
		transform: translateY(20vh) scale(2)
		+below(370px)
			transform: translateY(20vh) scale(1.7)
// .l-lazy-image
// 	width: 100%
// 	height: 100%
// 	overflow: hidden
// 	position: relative
img[data-full-size]
	vertical-align: top
	filter: blur(2px)
	opacity: .9
	transition: 1s
	&.-loaded
		opacity: 1
		filter: blur(0px)
.l-lazy
	opacity: 0
	position: absolute
.logo-fg
	padding: 0 10px
	background-color: transparent
	display: flex;
	align-items: center;
	justify-content: center;
	svg
		fill: #fff
		width: 100%
.logo-bg
	&.opening
		mix-blend-mode: luminosity
		opacity: .6
.logo-bg2
	&.opening
		mix-blend-mode: color
.hidden
	display: none
.l-header
	background-color: $white
	position: fixed
	bottom: 0
	display: grid
	grid-template-columns: 0 100%
	z-index: 2
	margin: 0
	border-top: 1px solid $black
	+above(700px)
		top: 0
		bottom: auto
		border-top: 0
		padding-left: 80px
		grid-template-columns: 170px calc(100% - 180px)
	> .logo
		margin: 0
		// background-color: $primary
		+above(700px)
			padding: 15px 10px
			height: 90px
			z-index: 5
			position: relative
		> a
			display: inline-block
			vertical-align: top
		svg
			fill: #fff
			width: 150px
			vertical-align: top
	> .l-header-nav
		white-space: nowrap
		+above(700px)
			padding: 15px 0 15px 10vw
		ul
			margin: 0
			overflow-x: auto
			overflow-y: hidden
			padding: 10px 10px 10px 0
			li
				display inline-block
				a
					padding: 10px 15px
					text-transform: lowercase
					color: $dark-gray
					font-weight: 900
					position: relative
					&::before
						content: ''
						position: absolute
						width: calc(100% - 30px)
						left: 15px
						bottom: 3px
						height: 1px
						background-color: $black
						transform: scaleX(0)
						transition: .15s
					&::after
						content: ''
						position: absolute
						width: 40px
						left: 15px
						bottom: 1px
						border-bottom: 3px solid $secondary
						transform: scaleY(0)
						transform-origin: 0 0
						transition: .3s
					&:hover
					&:active
					&:focus
						text-decoration: none
						&::before
							content: ''
							position: absolute
							width: calc(100% - 30px)
							left: 15px
							bottom: 3px
							height: 1px
							background-color: $black
					&.-is-active
						font-style: italic
						color: $black
						&:before
							transform: scaleX(1)
						&:after
							transform: scaleY(1)

						// color: $dark-gray
.l-section
	height: 100vh
	padding: 50px 5px 100px 15px
	position: relative
	+above(700px)
		padding: 100px 15px 15px 80px
#abertura
	display: grid
	gap: 20px
	grid-template-columns: calc(30% - 10px) calc(70% - 10px)
	align-items: end
	+above(700px)
		align-items: center
	.slogan
		// position: absolute
		// top: 40vh
		font-size: 23px
		font-weight: 400
		align-self: flex-end
		margin: 0
		margin-right: -100%
		margin-bottom: -1px
		padding: 5px
		background-color: $white
		// width: 30%
		+above(700px)
			margin-right: 0
			height: 50%
			padding: 0
		strong
			font-weight: 900!important
			font-style: italic
	.l-opening-image
		width: 100%
		height: 80%
		display: block
		z-index: -1
		margin: 0
		position: relative
		overflow: hidden
		img
			width: 100%
			height: 100%
			max-width: none
			object-fit: cover
.c-tab-nav
	display: grid
	grid-template-columns: 140px 1fr
	padding: 30px 0
	min-height: 50vh
	.tabs
		margin: 0
		.c-tab-item
			padding: 5px 10px
			font-weight: 900!important
			color: $dark-gray
			text-transform: lowercase
			position: relative
	> .contents
		height: 100%
		border-left: 1px solid $black
		padding-left: 20px
	&.-navigation-ready
		.c-tab-item
			cursor: pointer
			&.-current
				color: $black
				&::after
					content: ''
					position: absolute
					top: 0
					right: -1px
					width: 3px
					height: 100%
					background-color: $secondary

		.tab-content
			display: none
			&.-current
				display: block
